@import '../styles/constants';

.my-appts-page {
  width: 100%;
  max-width: $content-max-width;
  margin: 1rem;

  @media(min-width: $mobile-breakpoint) {
    margin: 1rem 2rem;
  }

  @media (min-width: calc(#{$content-max-width} + 32px)) { // 4rem doesn't work
    margin: 1rem 0;
  }
}

.appts-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}