.scheduler {
  background: rgb(24,171,24);
  background: linear-gradient(180deg, rgba(24,171,24,1) 0%, rgba(50,171,24,1) 61%, rgba(168,240,241,1) 100%);
  border-radius: 1rem;
  border: 2px solid rgb(158, 158, 158);
  color: #ffffff;
  height: calc(100% - 4rem);
  padding: 2rem;
}