@import '../styles/colors';

.scheduler-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.scheduler-box {
  flex: 0 0 60%;
  margin: 2rem;
}

.my-appts {
  margin: 2rem 2rem 2rem 0;
  background-color: lighten($light, 10);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #cccccc;
  width: 100%;
}

.my-appts__list {
  overflow-y: auto; // note this may not work until my-appts height is defined

  > div {
    margin-bottom: 1rem;
  }
}