@import '../styles/colors';

.appt-card {
  padding: 1.5rem;
  background-color: $subtle;
  border: 1px solid #cccccc;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 2px 6px #d2d2d2;
  transition: background-color 0.075s ease-in-out;

  &:hover {
    background-color: darken($subtle, 3);
  }
}

.appt-card__date {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.appt-card__field-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.appt-card__actions-list {
  div {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  div:last-child {
    margin-right: 0;
  }
}

.appt-card__action {
  border-radius: 1rem;
  font-size: 0.92rem;
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  
  &.appt-card__action--IMPORT_FULL {
    background-color: seagreen;
  }

  &.appt-card__action--EXPORT_FULL {
    background-color: darkblue;
  }

  &.appt-card__action--STORAGE_EMPTY {
    background-color: #dc3939;
  }

  &.appt-card__action--EXPORT_EMPTY {
    background-color: rebeccapurple;
  }
}

.appt-card__action__cid {
  opacity: 0.6;
}