@import '../styles/colors';

.appt-card {
  border: 1px solid #ccc;
  padding: 1.5rem;
  background-color: $pink;
  border-radius: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: darken($pink, 5);
  }

  div:last-child {
    margin-bottom: 0;
  }
}

.appt-card__date {
  font-size: 1.3rem;
  font-weight: bold;
}

.appt-card__arrival-window {
  font-style: italic;
  font-size: 1.2rem;
}

.appt-card__lines > div {
  margin-bottom: 0.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.appt-card__line {
  display: flex;
  justify-content: space-between;
}

.appt-card__line__label {
  font-weight: bold;
  padding-right: 0.5rem;
}

.appt-card__line__data {
  text-align: right;
}

.action-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  background-color: rgb(245, 245, 245);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}