@import '../styles/colors';

.box-page {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $main;
}

.box-page__logo {
  height: 2rem;
}

.box-page__box {
  width: 400px;
  background-color: #fefefe;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1.5rem;

  @media (min-width: 400px) {
    border-radius: 5px;
  }
}

.box-page__after-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}

.box-page__after-box__link {
  text-decoration: none;
  color: white;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
