@import '../styles/colors';

.users-table-wrapper {
  overflow-x: auto;
}

.users-table thead {
  th {
    background-color: $gray;
    border: none;
    //font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
  }
}

.users-table tbody tr {
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.075s ease-in-out;

  &:hover {
    background-color: lighten($subtle, 1);
  }
}

.users-table td {
  border: none;
  padding: 1rem;
}